.idea/
.vscode/
__pycache__/
*checkpoint.ipynb

Deeplearning8/*
!Deeplearning8/requirements.txt
!Deeplearning8/2025*/

# requirements.txt 파일 재포함
!requirements.txt

Ref_Textbooks/*
!Ref_Textbooks

*.pdf

# AI 모델 파일 배제
*.h5
*.keras
*.pth

# 생성된 데이터 파일
PyTorch/data